/*

.bench .card {
    float: left;
    position: relative;
    bottom: 20px;
    
}
.card {
    width: 100px;
    text-align: center;
    margin: auto 100px;
}
*/

/*body {
    background-image: url("../images/paper.jpg")
}*/
.card {
    margin: auto;
    text-align: center;
}
body {
    text-align: center;
}
.container {
    text-align: center;
    margin: auto;
}
#defender {
    
    text-align: center;
    margin: auto;
}

#challenger {
   
    text-align: center;
    margin: auto;
}
.row {
    text-align: center;
}
#vs {
    font-size: 50px;
    
}
.ring {
    margin: auto;
    text-align: center;
    height: 400px;
}
.card-body {
    margin: auto;
}
.name {
    font-size: 40px;
    margin: 0;
    padding: 0;
}
.hp {
    font-size: 24px;
}